@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,700;1,300&display=swap");

:root {
  --font-roboto: Roboto;
  --font-poppins: Poppins;
  --font-raleway: Raleway;
}

body {
  overflow-x: hidden;
}

.about-page-container {
  width: 100vw;
  position: relative;
  overflow: hidden;
  height: fit-content;
}

.about-page-container .information-container {
  width: 100%;
  padding-top: 120px;
  display: flex;
  z-index: 1;
  height: fit-content;
}

.about-page-container .information-container .text {
  width: 75%;
  display: flex;
  justify-content: center;
  z-index: 2;
}

.about-page-container .information-container .text .content {
  width: 90%;
}

.about-page-container .information-container .image {
  width: 25%;
  height: 42vw;
  background-color: yellow;
  background-image: url('C:\Users\Ismail\Desktop\ClientProject 2\client\src\assets\SiteVisual2Desktop.png');
  background-size: cover;
  z-index: 2;
}

.about-page-container .information-container .text .content .main {
  color: #571b5b;
  font-family: var(--font-roboto);
  font-size: 4.8vw;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  text-shadow: 1px 1px 0 rgba(53, 16, 56, 1), -1px 1px 0 rgba(53, 16, 56, 1),
    -1px -1px 0 rgba(53, 16, 56, 1), 1px -1px 0 rgba(53, 16, 56, 1);
}

.about-page-container .information-container .text .content .main span {
  color: rgba(254, 205, 7, 1);
}

.about-page-container .information-container .text .content .description div {
  color: #250227;
  font-family: var(--font-raleway);
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 200;
  line-height: normal;
  margin-top: 15px;
  width: 95%;
}

.about-page-container .image {
  
}

.atom-1-about {
  z-index: 0;
  position: absolute;
  top: -300px;
  left: 50vw;
}

.atom-2-about {
  z-index: 0;
  position: absolute;
}

.atom-3-about {
  z-index: 0;
  position: absolute;
}
